<p class="text-center text-muted" *ngIf="!animals.length">Desculpe, não há animais</p>

<div class="row">
  <div class="col-4" *ngFor="let animal of animals">
    <a [routerLink]="['/animals', animal.id]"></a>
    <app-card>
      <app-animal [imageUrl]="animal.url" [imageDescription]="animal.description"></app-animal>
      <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2">{{animal.likes}}</i>
      <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2">{{animal.comments}}</i>
    </app-card>
  </div>
</div>
