<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="newUserForm" (submit)="register()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Email" formControlName="email" />
    <app-message *ngIf="newUserForm.get('email')?.errors?.required && newUserForm.get('email')?.touched"
                 message="E-mail é obrigatório"></app-message>
    <app-message *ngIf="newUserForm.get('email')?.errors?.email && newUserForm.get('email')?.touched"
                 message="E-mail inválido"></app-message>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nome completo" formControlName="fullName" />
    <app-message *ngIf="newUserForm.get('fullName')?.errors && newUserForm.get('fullName')?.touched"
                 message="Nome completo é obrigatório"></app-message>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Usuário" formControlName="userName" />
    <app-message *ngIf="newUserForm.get('userName')?.errors?.lowerCase && newUserForm.get('userName')?.touched"
                 message="Usuário deve ser em letra minúscula"></app-message>
    <!--<app-message *ngIf="newUserForm.get('userName')?.errors?.userAlreadyExists"
                 message="Usuário já existe"></app-message>-->
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Senha" formControlName="password" />
    <app-message *ngIf="newUserForm.errors?.usernamePassword" message="Senha deve ser diferente do usuário"></app-message>
  </div>

  <button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
</form>

<p>Já é usuário?<a [routerLink]="['']"> Faça login</a></p>
